All Brick Categories

<ul>
  <li>{{link-to 'View all red bricks' 'bricks.red' id="link-bricks-red"}}</li>
  <li>{{link-to 'View all blue bricks' 'bricks.blue' id="link-bricks-blue"}}</li>
</ul>

{{outlet}}
