/*
 * COMMON
 */
html, body {
  overflow-x: hidden;
}

main {
  width: 100%;
  height: 100%;
}

body, canvas {
  text-align: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #fff url('/img/background.png');
}

canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

button {
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

dialog {
  border: none;
  background-color: transparent;
  border-radius: 10px;
}

/* GAME */
.outer {
  z-index: -1;
}

.outer.hit {
  animation-duration: 1.5s;
  animation-name: outer-hit;
}

.inner {
  z-index: 1;
}

.inner.hit {
  animation-duration: 1.5s;
  animation-name: inner-hit;
}

.stats {
  position: absolute;
  display: flex;
  font-weight: bold;
  font-size: 1.5em;
}

.stats > * {
  flex-basis: 50%;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.lives {
  color: #af111c;
}

.change,
.change,
.change {
  animation-name: positive-change;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.lives.change {
  transform-origin: right center;
  animation-name: scale;
  animation-duration: .4s;
}

/* OVERLAY */
.overlay {
  display: flex;
  background-color: rgba(0, 0, 0, .7);
  border-radius: 10px;
  align-items: center;
  position: absolute;
  z-index: 100;
}

dialog:not([open]),
.overlay:not([open]) {
  opacity: 0;
  visibility: hidden;
}

dialog[open],
.overlay[open] {
  animation-name: dialog-open;
  animation-duration: 1s;
}

dialog[close],
.overlay[close] {
  animation-name: dialog-close;
  animation-duration: 0.5s;
}

.overlay > * {
  flex: 1;
}

/* ANIMATIONS */
@keyframes outer-hit {
  from {
    box-shadow: 0 0 2.5em 0.7em #af111c;
  }
  to {
    box-shadow: none;
  }
}

@keyframes inner-hit {
  from {
    box-shadow: inset 0 0 40vw 0 #af111c;
    border-radius: 5px;
  }
  to {
    box-shadow: none;
  }
}

@keyframes positive-change {
  from {
    font-weight: bolder;
    color: springgreen;
  }
}

@keyframes scale {
  50% {
    transform: scale(1.25);
  }
}

@keyframes dialog-open {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes dialog-close {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
