<h2>Instructions</h2>

<ul>
  <li>create a service named <code>brick-warehouse</code></li>
  <li>add a <code>bricks</code> property to the service
    <ul>
      <li>extract the red brick data from the <code>bricks-a-bunch</code> route to the <code>bricks</code> property</li>
      <li>extract the blue and green brick data from the <code>lots-o-bricks</code> route to the <code>bricks</code>
        property
      </li>
    </ul>
  </li>
  <li>inject the brick-warehouse service into
    <ul>
      <li><code>bricks-a-bunch</code> route</li>
      <li><code>lots-o-bricks</code> route</li>
    </ul>
  </li>
  <li>routes retrieve data from service
    <ul>
      <li>the <code>bricks-a-bunch</code> template should still only display red bricks</li>
      <li>the <code>lots-o-bricks</code> template should now display all brick colors (i.e. red, blue, and green)</li>
    </ul>
  </li>
</ul>

<p class="notice">
  The Feedback extension will give you a code when you've fulfilled the tests on the
  <a href="/tests?nojshint&filter=Quiz" target="_blank">tests page</a>
  .
</p>
