<h2>Instructions</h2>

<ul>
  <li>extract all cookie information to a JSON file
    <ul>
      <li>name the file <code>cookies.json</code></li>
      <li>put this file in <code>public/store/</code></li>
    </ul>
  </li>
  <li>have the cookies route's <code>model</code> hook return this JSON file</li>
  <li>convert the cookies template to a dynamic template using the data from the returned model hook</li>
</ul>

<p class="notice">
  The Feedback extension will give you a code when you've fulfilled the tests on the
  <a href="/tests?nojshint&filter=Quiz" target="_blank">tests page</a>
  .
</p>
