.nearby-places {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.nearby-places-list {
  display: flex;
  flex-flow: column;
  flex: 1 1;
  margin: 0;
  padding: 0 8px 0 0;
  list-style-type: none;
  text-align: left;
  overflow-y: auto;
  overflow-x: hidden;

  /* width */
  &::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

