@import "./button-base";
@import "../theming/colors";

%button {
  @extend %button-base;
  line-height: 1.4em;
  box-sizing: border-box;
  min-width: 64px;
  min-height: 36px;
  padding: 8px 16px;
  border-radius: 4px;
  color: $text-color;
  // TODO: transition

  &:hover {
    text-decoration: none;
    background-color: $background-hover-color;
    &[disabled] {
      background-color: transparent;
    }
  }

  &[disabled] {
    color: $text-disabled-color;
  }
}
