<h2>Instructions</h2>

<ul>
  <li>generate the following routes
    <ul>
      <li><code>store</code></li>
      <li><code>store/cakes</code></li>
      <li><code>store/cupcakes</code></li>
      <li><code>store/cookies</code></li>
    </ul>
  </li>
  <li>add a "Store" link to the site's navigation
    <ul>
      <li>have it load the store route</li>
      <li>give it the ID <code>nav-link-store</code></li>
    </ul>
  </li>
  <li>add the following info to the <code>store</code> template
    <ul>
      <li>a link to the cakes route</li>
      <li>a link to the cupcakes route</li>
      <li>a link to the cookies route</li>
    </ul>
  </li>
  <li>add the following to the <code>cake</code> template
    <ul>
      <li>add the heading "All Cakes"</li>
    </ul>
  </li>
  <li>add the following to the <code>cupcakes</code> template
    <ul>
      <li>add the heading "All Cupcakes"</li>
    </ul>
  </li>
  <li>in the <code>cookies</code> template use the cookie information in the table below to display
    <ul>
      <li>the heading "All Cookies"</li>
      <li>info on each cookie
        <ul>
          <li>name of cookie - give it the class <code>cookie-name</code></li>
          <li>total count of cookies - give it the class <code>cookie-count</code></li>
          <li>price per cookie - give it the class <code>cookie-price</code></li>
          <li>price per dozen - give it the class <code>cookie-per-dozen</code></li>
        </ul>
      </li>
    </ul>
    <div class="table-responsive">
      <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
          <th>Cookie Name</th>
          <th>Count</th>
          <th>Price</th>
          <th>Price Per Dozen</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Chocolate Chip</td>
          <td>248</td>
          <td>$0.39</td>
          <td>$4.50</td>
        </tr>
        <tr>
          <td>Sugar</td>
          <td>182</td>
          <td>$0.30</td>
          <td>$3.35</td>
        </tr>
        <tr>
          <td>Oatmeal</td>
          <td>137</td>
          <td>$0.42</td>
          <td>$4.80</td>
        </tr>
        <tr>
          <td>Peanut Butter</td>
          <td>186</td>
          <td>$0.47</td>
          <td>$5.25</td>
        </tr>
        <tr>
          <td>Shortbread</td>
          <td>93</td>
          <td>$0.35</td>
          <td>$4.00</td>
        </tr>
        </tbody>
      </table>
    </div>
  </li>
</ul>

<p class="notice">
  The Feedback extension will give you a code when you've fulfilled the tests on the
  <a href="/tests?nojshint&filter=Quiz" target="_blank">tests page</a>
  .
</p>
