<div class="col-sm-6">
  <h2>Bricks A Bunch</h2>
  <p>
    The Bricks A Bunch store offers the highest quality in plastic bricks! It has a wide range of color choices and...
  </p>
  <p>{{#link-to 'store.bricks-a-bunch'}}Visit Store &rarr;{{/link-to}}</p>
</div>

<div class="col-sm-6">
  <h2>Lots O Bricks</h2>
  <p>
    Our newest addition to the Brick family, Lots O Bricks is opening is opening in downtown Bricktopia!
  </p>
  <p>{{#link-to 'store.lots-o-bricks'}}Visit Store &rarr;{{/link-to}}</p>
</div>

{{outlet}}
