<aside class="sidebar">
    <div class="sidebar-inner">
        <!-- profile -->
        <div class="person">
            <img src="img/profile.jpg" alt="profile picture">
            <div class="person-info">
                <h1 class="person-title">Max Stankevich</h1>
                <div class="person-subtitle">
                    <div class="person-subtitle-left">
                        <h2>🕹️ Game</h2>
                        <h2>Web</h2>
                    </div>
                    <div class="person-subtitle-right">
                        <h2>Full-Stack<br>Developer</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>
