<section class="row color-group red-bricks">
  <h2>Red</h2>
  {{#each-in model as |size stats|}}
    <div class="col-md-4 well">
      <p>Size: {{size}}</p>
      <p>Price: {{stats.price}}</p>
      <p>Quantity: {{stats.quantity}}</p>
    </div>
  {{/each-in}}
</section>

{{outlet}}
