<nav class="navbar">
    <!-- profile -->
    <div class="profile">
        <img class="profile-image" src="assets/profile.jpg" alt="profile picture">
        <div class="profile-info">
            <h1 class="profile-title">Max Stankevich</h1>
            <div class="profile-subtitle">
                <div class="profile-subtitle-left">
                    <h2>🕹️ Game</h2>
                    <h2>Web</h2>
                </div>
                <div class="profile-subtitle-right">
                    <h2>Full-Stack<br>Developer</h2>
                </div>
            </div>
            <a href="mailto:max.stankevich.me@google.com" target="_top" class="profile-info-email">
                max.stankevich.me@gmail.com
            </a>
            <!-- social links -->
            <div class="profile-social-links">
                <a href="mailto:max.stankevich.me@google.com" target="_top">
                    <i class="fas fa-envelope-square"></i>
                </a>
                <a href="https://www.linkedin.com/in/max-stankevich/" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/gavar" target="_blank">
                    <i class="fab fa-github-square"></i>
                </a>
            </div>
        </div>
    </div>
</nav>
