<div class="project-gallery-lightbox">
    <div class="project-gallery-lightbox-bg"></div>
    <div class="swiper-container">
        <div class="swiper-wrapper"></div>
        <div class="swiper-navigation">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>
