<div class="project-gallery-lightbox">
    <div class="swiper-button-close">
        <svg class="swiper-button-icon">
            <use xlink:href="#icon-x"></use>
        </svg>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-container">
        <div class="swiper-wrapper"></div>
        <div class="swiper-navigation">
            <div class="swiper-button swiper-button-prev">
                <svg class="swiper-button-icon">
                    <use xlink:href="#arrow-left"></use>
                </svg>
            </div>
            <div class="swiper-button swiper-button-next">
                <svg class="swiper-button-icon">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </div>
        </div>
    </div>
    <div class="project-gallery-lightbox-bottom-shadow"></div>
</div>
