<h2>Instructions</h2>

<ul>
  <li>use Ember-CLI to generate a <code>bricks</code> route</li>
  <li>modify the route so it matches when the URL is <code>/legos</code></li>
  <li>
    add the following information to the <code>bricks</code> template
    <ul>
      <li>a heading with an <code>ID</code> of <code>brick-heading</code></li>
      <li>a bulleted list with a <code>class</code> of <code>colors</code></li>
      <li>give the <code>colors</code> list the following colors: red, blue, green</li>
    </ul>
  </li>
</ul>

<p class="notice">
  The Feedback extension will give you a code when you've fulfilled the tests on the
  <a href="/tests?nojshint&filter=Quiz" target="_blank">tests page</a>
  .
</p>
