<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta tags -->
    {{#block "meta"}}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {{/block}}

    <!-- stylesheet links -->
    {{#block "links"}}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.0/css/swiper.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
              integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S"
              crossorigin="anonymous">
        <link rel="stylesheet" href="css/index.css">
    {{/block}}
    <title>{{title}}</title>
</head>
<body>
    <!-- main body content -->
    {{#block "main"}}
    {{/block}}

    <!-- load scripts after document is ready-->
    {{#block "after-body-scripts"}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.0/js/swiper.js"></script>
        <script src="js/after-body.js"></script>
    {{/block}}
</body>
</html>
