<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta tags -->
    {{#block "meta"}}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {{/block}}

    <!-- stylesheet links -->
    {{#block "links"}}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
        <link rel="stylesheet" href="css/index.css">
    {{/block}}

    {{#block "scripts"}}
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    {{/block}}

    <title>{{title}}</title>
</head>
<body>
    <!-- main body content -->
    {{#block "main"}}
    {{/block}}
</body>
</html>
