{{#extend "layouts/base" title=title}}
    {{#content "main"}}
        <!-- navbar -->
        {{> "components/navbar" }}
        <!-- content -->
        <div class="content">
            {{#block "content"}}
            {{/block}}
        </div>
    {{/content}}
{{/extend}}
