@import "style/typography";
@import "style/theming";

.search-box {
  background-color: $primary-color;

  .search-button {
    &::after {
      content: "";
      right: 0;
      height: 60%;
      position: absolute;
      border-left: 1px solid #ddd;
    }
  }

  .clear-button {
    &:hover {
      background-color: inherit;
    }
  }
}

.search-box-input {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;

  input {
    flex: 1;
    @extend %subtitle-1;
    background-color: inherit;
    border: none;
    outline: none;
  }

  .icon-search {
    right: 15px;
    position: absolute;
    pointer-events: none;
  }

  &::after {
    content: "";
    right: 0;
    height: 60%;
    position: absolute;
    border-left: 1px solid #ddd;
  }
}

.search-box-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 8px;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2),
  0 -1px 0px rgba(0, 0, 0, 0.02);

  & > * {
    padding: 12px 15px;
  }
}

@media screen and (max-width: 375px) {
  .search-box-container {
    & > * {
      padding: 8px 5px;
    }

    input {
      font-size: 0.9rem;
    }

    .button {
      box-sizing: border-box;
      min-width: 50px;
    }


  }
}

@media screen and (max-width: 400px) {
  .search-box-container {
    .icon-search {
      visibility: hidden;
    }
  }
}
